$white: #ffffff;
$black: #000000;
$gray: #8c8c8c;
$dark-gray: #696969;
@mixin Alata {
  font-family: "Alata", sans-serif;
}
@mixin Josefin {
  font-family: "Josefin Sans", sans-serif;
}
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

// Mobile Design
@media only screen and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
  }
  .header {
    width: 100%;
    height: max-content;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    margin-bottom: 4rem;
  }
  .text-container {
    margin-top: 49%;
    width: 85%;
    border: 2px solid $white;
    align-self: center;
    p {
      @include Josefin();
      width: 50%;
      color: $white;
      font-size: 8vw;
      text-transform: uppercase;
      padding-left: 1rem;
    }
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      margin: 2rem 2rem 0 2rem;
    }
  }

  .navmenu {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .introduction {
    width: 90%;
    margin-bottom: 3rem;
    img {
      width: 100%;
    }
    h2 {
      @include Josefin();
      text-transform: uppercase;
      text-align: center;
      font-size: 9vw;
      color: $black;
      font-weight: 300;
    }
    p {
      @include Alata();
      margin: 0 0.2rem 0 0.2rem;
      text-align: center;
      color: $dark-gray;
      font-size: 4.5vw;
    }
  }
  .creation {
    margin-bottom: 3rem;
    h2 {
      @include Josefin();
      text-transform: uppercase;
      font-size: 9vw;
      font-weight: 300;
    }
    div {
      width: 100%;
      height: 100%;
      margin-bottom: 10%;
    }
    img {
      width: 90%;
    }

    p {
      @include Josefin();
      text-align: left;
      width: 40%;
      text-transform: uppercase;
      color: $white;
      margin: -20% 0 0 10%;
      font-size: 7vw;
      z-index: 2 !important;
      position: relative;
      &::after {
        position: absolute;
        left: 25vw;
        content: "";
        color: $white;
        margin-top: -21vw;
        margin-left: -30vw;
        width: 90vw;
        height: 235%;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.436) 0%,
          rgba(0, 0, 0, 0.636) 20%,
          rgba(0, 0, 0, 0.436) 40%,
          rgba(0, 0, 0, 0.236) 60%,
          rgba(0, 0, 0, 0.236) 80%,
          rgba(0, 0, 0, 0.036) 100%
        );
        z-index: -1 !important;
      }
    }
  }
}

// Default Frontend Mentor Style
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
