$white: #ffffff;
$black: #000000;
$gray: #8c8c8c;
$dark-gray: #696969;
@mixin Alata {
  font-family: "Alata", sans-serif;
}
@mixin Josefin {
  font-family: "Josefin Sans", sans-serif;
}
@mixin colflex {
  display: flex;
  flex-direction: column;
}
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

// Mobile Design
@media only screen and (max-width: 654px) {
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
  }
  .header {
    @include colflex();
    width: 100%;
    height: max-content;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    margin-bottom: 4rem;
  }
  .text-container {
    margin-top: 49%;
    width: 85%;
    border: 2px solid $white;
    align-self: center;
    p {
      @include Josefin();
      width: 50%;
      color: $white;
      font-size: 8vw;
      text-transform: uppercase;
      padding-left: 1rem;
    }
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    img {
      margin: 2rem 2rem 0 2rem;
    }
  }
  .open {
    left: 0 !important;
  }
  .navmenu {
    @include colflex();
    width: 100%;
    height: 120vh;
    position: fixed;
    left: 100vw;
    top: 0;
    background-color: $black;
    z-index: 222;
    transition: all 0.5s;
    .imgs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12vh;
    }
    a {
      color: $white;
      @include Josefin();
      text-transform: uppercase;
      text-decoration: none;
      margin: 8.5vh 0 0 8vw;
      font-size: 5vw;
      color: $white;
    }
  }

  .main {
    @include colflex();
    align-items: center;
    text-align: center;
  }
  .introduction {
    width: 90%;
    margin-bottom: 3rem;
    img {
      width: 100%;
    }
    h2 {
      @include Josefin();
      text-transform: uppercase;
      text-align: center;
      font-size: 9vw;
      color: $black;
      font-weight: 300;
    }
    p {
      @include Alata();
      margin: 0 0.2rem 0 0.2rem;
      text-align: center;
      color: $dark-gray;
      font-size: 4.5vw;
    }
  }
  .creation {
    margin-bottom: 3rem;
    h2 {
      @include Josefin();
      text-transform: uppercase;
      font-size: 9vw;
      font-weight: 300;
    }
    .banners {
      div {
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
      }
      img {
        width: 90%;
      }

      p {
        @include Josefin();
        text-align: left;
        width: 40%;
        text-transform: uppercase;
        color: $white;
        margin: -20% 0 0 10%;
        font-size: 7vw;
        z-index: 2 !important;
        position: relative;
        &::after {
          position: absolute;
          left: 25vw;
          content: "";
          margin-top: -21vw;
          margin-left: -30vw;
          width: 90vw;
          height: 33.4vw;
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.636) 0vw,
            rgba(0, 0, 0, 0.506) 20vw,
            rgba(0, 0, 0, 0.406) 40vw,
            rgba(0, 0, 0, 0.306) 50vw,
            rgba(0, 0, 0, 0.206) 60vw,
            rgba(0, 0, 0, 0.156) 70vw,
            rgba(0, 0, 0, 0.106) 80vw,
            rgba(0, 0, 0, 0.036) 100vw
          );
          z-index: -1 !important;
        }
      }
    }
  }
  .see-all {
    @include Alata();
    color: $black;
    width: 30vw;
    background: none;
    border: 1px solid $black;
    margin-bottom: 3rem;
    padding: 2vw 4vw 2vw 4vw;
    font-size: 3.5vw;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .footer {
    @include colflex();
    padding: 3rem 0 2rem 0;
    background-color: $black;
    align-items: center;
    .footer-logo {
      margin-bottom: 3rem;
    }
    .footer-links {
      @include colflex();
      text-align: center;
      a {
        @include Alata();
        text-decoration: none;
        color: $white;
        margin-bottom: 1.7rem;
      }
    }
    .social {
      a {
        text-decoration: none;
      }
      img {
        margin: 0.7rem;
      }
    }
    p {
      @include Alata();
      font-size: 1.2rem;
      color: $gray;
      width: 80%;
      text-align: center;
    }
  }
}
@media only screen and (min-width: 655px) {
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .imgs,
  .hamburger {
    display: none;
  }
  .header {
    height: 40rem;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4) 50vw,
      rgba(0, 0, 0, 0.4) 100vw
    );
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: url(../images/desktop/image-hero.jpg) no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navlogo {
    margin: 3.2rem 0 0 8rem;
  }
  .navmenu {
    margin: 3.3rem 7rem 0 0;
    a {
      @include Alata();
      text-decoration: none;
      color: $white;
      margin: 0 2rem 0 0;
      transition: all 0.3s;
      &:hover {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $white;
      }
    }
  }
  .text-container {
    margin: 5rem 0 0 8rem;
    border: 2px solid $white;
    color: $white;
    width: 45vw;
    height: auto;
    p {
      @include Josefin();
      text-transform: uppercase;
      padding-left: 2rem;
      font-size: 5vw;
      width: 80%;
      margin: 2.5rem 0 2.5rem 0;
    }
  }
  .main {
    @include colflex();
  }
  .introduction {
    width: 80%;
    position: relative;
    img {
      margin-left: 10vw;
    }
    div {
      background-color: $white;
      position: absolute;
      bottom: 0;
      margin-left: 52vw;
      width: 31vw;
      padding: 4vw 0 0 4vw;
      text-align: left;
      h2 {
        @include Josefin();
        text-transform: uppercase;
        // text-align: center;
        font-size: 2.8rem;
        font-weight: 300;
      }
      p {
        @include Alata();
        color: $dark-gray;
        text-align: left;
        font-size: 0.9rem;
      }
    }
  }
  .creation {
    @include colflex();
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 3rem;
    h2 {
      @include Josefin();
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2.5rem;
      align-self: flex-start;
    }
    button {
      position: absolute;
      align-self: flex-end;
      top: 3vw;
      display: inline-block;
    }
    .banners {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      div {
        margin-bottom: 5vw;
        &:hover {
          cursor: pointer;
        }
        img {
          margin: 0.5vw;
          height: auto;
        }
        p {
          @include Josefin();
          font-size: 2vw;
          text-transform: uppercase;
          width: 46%;
          color: $white;
          margin: -35% 0 0 10%;
          position: relative;
          z-index: 2;
          &:hover {
            color: $black;
          }
          &:hover::after {
            background: linear-gradient(
              0deg,
              rgba(219, 219, 219, 0.8) 50vh,
              rgba(219, 219, 219, 0.8) 100vh
            );
            z-index: -1;
          }
          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            margin-left: -17%;
            margin-top: -296%;
            height: 28.2rem;
            width: 207.5%;
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.6) 0vh,
              rgba(0, 0, 0, 0.6) 20vh,
              rgba(0, 0, 0, 0.1) 40vh,
              rgba(0, 0, 0, 0.1) 50vh,
              rgba(0, 0, 0, 0.1) 60vh,
              rgba(0, 0, 0, 0.1) 70vh,
              rgba(0, 0, 0, 0.1) 80vh,
              rgba(0, 0, 0, 0.1) 100vh
            );
            z-index: -1;
          }
        }
      }
    }
    .see-all {
      @include Josefin();
      text-transform: uppercase;
      font-weight: bold;
      color: $black;
      background-color: $white;
      letter-spacing: 0.2rem;
      border: none;
      padding: 0.7rem 1.2rem 0.7rem 1.2rem;
      border: 1px solid $black;
      cursor: pointer;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
  .footer{
    // display: flex;
    align-items: baseline;
    @include colflex();
    margin-top: 4rem;
    padding: 3rem 0 3rem 0;
    background-color: $black;
    height: auto;
    p{
      @include Alata();
      color: $gray;
      order: 4;
      align-self: flex-end;
      margin: 3rem 10% 0 0;
    }
  }
  .footer-logo{
    order: 1;
    margin-left: 10%;
  }
  .social{
    order: 2 !important;
    align-self: flex-end;
    margin: -7% 10% 0 0;
    a{
      text-decoration: none;
    }
    img{
      margin-left: 1rem;
      padding-bottom: .4rem;
      &:hover{
        border-bottom: 1px solid $white;
      }
    }
  }
  .footer-links{
    order: 2;
    margin: 3rem 0 0 10%;
    a{
      @include Alata();
      text-decoration: none;
      color: $white;
      margin-right: 1.5rem;
      padding-bottom: .2rem;
      &:hover{
        border-bottom: 1px solid $white;
      }
    }
  }

}

// Default Frontend Mentor Style
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
